@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BeVietnamPro;
  src: url("../fonts/BeVietnamPro-Regular.ttf");
}

@font-face {
  font-family: BeVietnamSemiBold;
  src: url("../fonts/BeVietnamPro-SemiBold.ttf");
}

* {
  font-family: BeVietnamPro;
}

.font-semibold,
.font-bold {
  font-family: BeVietnamSemiBold !important;
}

#__nuxt {
  height: 100%;
}
